* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}


.arrowBox{
    text-align: center;
    font-size: 3.5rem;
    position: relative;
    top: -200px;
}

.arrowBox i{
    transition: all 0.6s;
}

.arrowBox i:hover{
    cursor: pointer;
    color: rgb(181, 8, 8);
    border-bottom: 1px solid rgb(181, 8, 8);
}

#headerBackground {
    object-fit: cover;
    background-image: url(headerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    filter: brightness(0.3);
    height: 100vh;
    position: relative;
}


#szoveg {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.textSpan {
    color: rgb(181, 8, 8);
}

nav{
    background-color: black;
}


.navbar-toggler{
    margin: 10px;
    background-color: rgb(181, 8, 8);
    transition: 0.3s all;
}

.navbar-toggler:hover{
    background-color: white;
}

.navbar_brand {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 15px;
    transition: all 0.2s;
}

.navbar_brand:hover {
    color: rgb(181, 8, 8);
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-left: 15px;
}

.nav_link {
    text-decoration: none;
    color: rgb(181, 8, 8);
    transition: all 0.2s;
}

.nav_item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav_link:hover {
    font-weight: 400;
    color: white;
}


#rolam {
    background-color: black;
    height: 100vh;
}


#sectionBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 100px;
}

.sectionDebut {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.sectionDebut p {
    margin-top: 20px;
    width: 50%;
    text-align: justify;
}

.sectionImage {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

#portfolioImage {
    border-radius: 50%;
    height: 350px;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

#rolam {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.socialIcons {

    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 20px;
}

.socialIcons a {
    font-size: 30px;
    width: 50px;
    text-align: center;
    transition: 0.1s all;
    
}

.socialIcons a:hover {
    border: 2px solid rgb(181, 8, 8);
    border-radius: 50%;
}

.cvAndContactButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 20px;
}


.cvAndContactButtons button{
    color: white;
    text-decoration: none;
    border: 1px solid rgb(181, 8, 8);
    font-weight: bold;
}

.cvAndContactButtons button:hover{
    color: rgb(181, 8, 8);
    text-decoration: none;
    border: 1px solid white;
}


#skills {
    height:min-content;
    margin-top: 250px;
}

hr{
    border: none;
    width: 100px;
    height: 5px;
    background-color: rgb(181, 8, 8);
}


.h1Title{
    display: flex;
    justify-content: left;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    color: rgb(181, 8, 8);
    font-size: 50px;
}

#skills img {
    width: 80px;
}

#skills li {
    list-style-type: none;
}

.skillsBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.frontendBox {
    display: flex;
    padding: 20px;
    transition: 0.3s all;
}

.frontendBox:hover{
    border-left: 1px solid rgb(181, 8, 8);
    border-radius: 10px;
}

.frontendTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frontendTitle h2 {
    font-size: 35px;
    font-family: "Orbitron", sans-serif;
}

.frontendText{
    cursor: pointer;
    transition: 0.3s all;
}

.frontendText:hover{
    filter: drop-shadow(2px 2px 8px rgba(255, 255, 255, 0.586));
}

.frontendSkills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.frontendSkills img {
    margin: 20px;
}


.backendBox {
    display: flex;
    padding: 20px;
    transition: 0.3s all;
}

.backendBox:hover{
    border-left: 1px solid rgb(181, 8, 8);
    border-radius: 10px;
}

.backendTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backendTitle h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 35px;
}

.backendText{
    cursor: pointer;
    transition: 0.3s all;
}

.backendText:hover{
    filter: drop-shadow(2px 2px 8px rgba(255, 255, 255, 0.586));
}

.backendSkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backendSkills img{
    margin: 20px;
}




#contact{
    height: 100vh;
}

#contact hr{
    margin-top: 100px;
}

.contactBox{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

textarea{
    width: 400px;
    height: 100px;
    color: black;
    border: none;
    outline: none;
}

.contactLeftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactLeftSide .contact-inputs::placeholder{
  color:rgb(181, 8, 8);
}

.contactLeftSide .contact-inputs{
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(181, 8, 8);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}


.contactRightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactRightSide textarea::placeholder{
    color: rgb(181, 8, 8);
    font-weight: bold;
}

.contactRightSide textarea{
    margin: 30px;
    height: 150px;
    outline: none;
    border: none;
    background: none;
    border: 1px solid rgb(181, 8, 8);
    border-radius: 7px;
    padding: 10px;
    color: white;
}

.contactButton{
    text-align: center;
    margin-top: 20px;
}

.contactButton button{
    background-color: white;
    width: 200px;
}

.contactButton button:hover{
    background-color: rgb(181, 8, 8);
    color: black;
}



#footer{
    height: 30vh;
    background-color: rgb(181, 8, 8);
}

.footerLinksBox{
    display: flex;
    flex-wrap: wrap;
    height: 15vh;
    width: 70%;
    align-items: end;
    justify-content: space-around;
    margin: auto;
}

.footerLinksBox a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin: 20px;
}

.footerLinksBox li{
    list-style-type: none;
}

.copyrightBox{
    margin-top: 50px;
    text-align: center;
}

.copyrightBox p{
    font-size: 0.8rem;
}


#projects{
    margin-top: 100px;
    height: min-content;
}

#projects h3{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kisebbProjektekBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.projekt{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(181, 8, 8);
    padding: 20px;
}

.projekt button{
    width: 150px;
    background-color: rgb(181, 8, 8);
}

.projekt button:hover{
    background-color: white;
    color: black;
}

.projekt p{
    display: none;
}

#projects .uil{
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

#projects .uil:hover{
    cursor: pointer;
    color: rgb(181, 8, 8);
}

#projects h3{
    padding: 15px;
    border-top: 5px solid rgb(181, 8, 8);
    border-bottom: 1px solid rgb(181, 8, 8);
    filter: drop-shadow(2px 2px 5px red);
    margin-left: 100px;
    margin-right: 100px;
}
